@model IEnumerable<meuCuidado.Dominio.Models.Usuario>
@{
    ViewBag.Title = "Perfil";
    Layout = null;
}
<div class="container">
    <!-- Filtros -->
    @if (ViewBag.ExibirFiltros == true)
    {
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text">Usuário do meuCuidado desde:</span>
                    <input type="date" id="FiltroDataCadastro" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <select id="FiltroTipoUsuario" class="form-control">
                    <option value="">Filtrar por profissional</option>
                    <option value="1">Cuidador</option>
                    <option value="2">Fisioterapeuta</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="FiltroLocalizacao" placeholder="Localização" class="form-control" />
            </div>
            <div class="col-md-3">
                <button id="btnAplicarFiltros" class="btn btn-primary">Aplicar Filtros</button>
            </div>
        </div>
    }

    @Html.Partial("_UsuariosLista", Model);
</div>
<!-- Incluindo jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    jQuery(document).ready(function($) {
        // Função para aplicar os filtros
        $('#btnAplicarFiltros').click(function () {
            var tipoUsuario = $("#FiltroTipoUsuario").val();
            var dataCadastro = $("#FiltroDataCadastro").val();
            var localizacao = $("#FiltroLocalizacao").val();

            // Enviar os filtros via AJAX
            $.ajax({
                url: '@Url.Action("Perfil", "Perfil")', // Ação que vai processar os filtros
                type: 'GET',
                data: {
                    tipoUsuario: tipoUsuario,
                    dataCadastro: dataCadastro,
                    localizacao: localizacao
                },
                success: function (data) {
                    // Atualizar os dados na tela
                    $('#usuariosContainer').html(data); // Atualiza o container com os novos resultados
                },
                error: function () {
                    alert("Erro ao aplicar os filtros.");
                }
            });
        });
    });
</script>