@model IList<meuCuidado.Dominio.Models.Avaliacao>
@{
    ViewBag.Title = "Avaliações";
}

<div class="container">
    <h2>Avaliações</h2>
    <ul>
        @foreach (var avaliacao in Model)
        {
            <li>
                @*<p><strong>Familiar:</strong> @avaliacao.Familiar</p>
                <p><strong>Comentário:</strong> @avaliacao.Comentario</p>
                <p><strong>Data:</strong> @avaliacao.Data.ToString("dd/MM/yyyy")</p>*@
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        @if (TempData["Info"] != null)
        {
            <text>toastr.info("@TempData["Info"]");</text>
        }
    });
</script>
