@*@model meuCuidado.Dominio.Models.Curriculo*@
@{
    ViewBag.Title = "Currículo";
}

<div class="container">
    <h2>Currículo</h2>
    @*<p><strong>Nome:</strong> @Model.Nome</p>
    <h3>Experiências:</h3>
    <ul>
        @foreach (var experiencia in Model.Experiencias)
        {
            <li>@experiencia</li>
        }
    </ul>
    <h3>Cursos:</h3>
    <ul>
        @foreach (var curso in Model.Cursos)
        {
            <li>@curso</li>
        }
    </ul>*@
</div>

<script>
    $(document).ready(function () {
        @if (TempData["Info"] != null)
        {
            <text>toastr.info("@TempData["Info"]");</text>
        }
    });
</script>
