@model meuCuidado.Dominio.Models.CuidadorDeIdoso
@{
    ViewBag.Title = "Perfil";
}

<div class="container">
    <h2>Perfil do Cuidador</h2>
    @*<p><strong>Nome:</strong> @Model.Nome</p>
    <p><strong>Experiência:</strong> @Model.Experiencia</p>
    <p><strong>Escolaridade:</strong> @Model.Escolaridade</p>*@
</div>

<script>
    $(document).ready(function () {
        @if (TempData["Info"] != null)
        {
            <text>toastr.info("@TempData["Info"]");</text>
        }
    });
</script>
